---
/System/fm-items:
  bashshell-items:
    adminSt: enabled
  bgp-items:
    adminSt: enabled
  grpc-items:
    adminSt: enabled
  ifvlan-items:
    adminSt: enabled
  lacp-items:
    adminSt: enabled
  lldp-items:
    adminSt: enabled
  ntpd-items:
    adminSt: enabled
  nxapi-items:
    adminSt: enabled
  vpc-items:
    adminSt: enabled
  udld-items:
    adminSt: disabled
  vrrpv3-items:
    adminSt: enabled
