---
Cisco-IOS-XR-um-interface-cfg:interfaces:
  Cisco-IOS-XR-um-interface-cfg:interface:
    - interface-name: MgmtEth0/RP0/CPU0/0
      ipv4:
        Cisco-IOS-XR-um-if-ip-address-cfg:addresses:
          address:
            address: 1.2.3.4
            netmask: 255.255.255.0
      Cisco-IOS-XR-um-if-vrf-cfg:vrf: MGMT
    - interface-name: TenGigE0/0/0/1
    - interface-name: TenGigE0/0/0/2
    - interface-name: TenGigE0/0/0/3
    - interface-name: TenGigE0/0/0/4
    - interface-name: TenGigE0/0/0/5
    - interface-name: TenGigE0/0/0/6
    - interface-name: TenGigE0/0/0/7
    - interface-name: TenGigE0/0/0/8
    - interface-name: TenGigE0/0/0/9
